# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- 3 commonly used languages for data science
- 3 commonly used libraries in data science
- 3 commonly used tools in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotLib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers:

In [8]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [10]:
200 / 60

3.3333333333333335

## Author
Sobirov Elnurjon Toirjon o'g'li